doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="")
        meta(name="author" content="")

        title
            | ShipCor Admin

        script(src="/vendor/jquery/jquery.min.js")
        script(src="/vendor/bootstrap/js/bootstrap.min.js")
        script(src="/vendor/metisMenu/metisMenu.min.js")
        script(src="/dist/js/sb-admin-2.js")

        link(href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet")
        link(href="/dist/css/sb-admin-2.css" rel="stylesheet")
        link(href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    body
        if user
            div#wrapper
                include navigation

        div#page-wrapper
            each message in messages
                h3 #{message}
            block content
