extends layouts/base

block content
	div.row
		div.col-lg-12
			h1.page-header
				| Reports
	div.row
		div.col-lg-3.col-md-6
			a.btn.btn-default.btn-block(href="/reports/download")
				| Download Latest Reorder Report
	div.row(style="margin-top:20px")
		div.col-lg-3.col-md-6
			form(method="POST", role="form", action="/reports/upload?_csrf=" + csrfToken, enctype="multipart/form-data")
				label(for="reorder") Upload Reorder File
				input(name="reorder", id="reorderInput", type="file")
				input.btn.btn-default(type="submit", value="UPLOAD")
	div.row(style="margin-top:20px")
		p
			| Note: After downloading the reorder file, simply fill in your manual values into the spreadsheet and reupload the spreadsheet. You can then download it once more to get all of the calculated values along with the manual inputs.
	div.row(style="margin-top:20px")
		div.col-lg-3.col-md-6
			a.btn.btn-default.btn-block(href="/database/delete" onclick="return confirm('Are you sure you want to delete the database? This action cannot be undone.')")
				| Delete Database
