extends layouts/base

block content
  h1 Login
  div.row
    div.col-md-3
      form(action="/login", method="POST", role="form")
        input(type="hidden", name="_csrf", value=csrfToken)
        div.form-group
          label(for="email") Email
          input.form-control(name="email", type="text", autofocus=true, placeholder="Email")
        div.form-group 
          label(for="password") Password
          input.form-control(name="password", type="password", placeholder="Password")
        div.form-group
          input.btn.btn-default(type="submit", value="SUBMIT")